

/* 编辑信息 */
.userInfor li{ border-bottom: 1px solid #eee; background: #fff;padding: 15px 0; display: flex; justify-content: flex-start; align-items: flex-start;}
.userInfor li .ll{width: 15%;}
.userInfor li .rr{width: 85%;}
.userInfor input{width: 100%;display: block; font-size: 13px;}
.userInfor li .yamTest{ }


